<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 6 years of experience in engineering, and have worked
            on projects in a number of disciplines. While my training is in 
            physics and mechnical engineering, I'm adept at learning to work
            in a varieties of environments; electronics design, facilities 
            support, safety training/management, and group administration.
        </p>
        <p>
           <b>I am a quick study</b>.
           My current academic and teaching-support based environment is filled 
           with opportunities to step into diverse fields of work. I'm attracted 
           to problems that require ore than formulaic answers, and to learning 
           new skills. I've succeeded at using this ability to master skills 
           quickly to push projects from "good-enough" to "excellent".
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Assisting in the design of an academic makerspace to support project 
            courses, research work, and student projects. Experience in a 
            variety of design and prototyping areas; CAD (Solidworks, 
            CATIA, OMAX), PCBs (Altium), 3D printing, machining, and coding 
            (C++, LabView).
    			</li>
                        <li>
            Created a multi-module safety training course for new students 
            entering electronics teaching laboratories; deployed for ~1000 
            undergraduate students.
    			</li>          
                        <li>
            Enabled set up of industrial equipment in aerospace setting; thermal 
            spray robot and ultrasonic NDT scanner. Tested new procedures to get 
            equpiment running for technicians.
    			</li>
    			<li>
            Trained in Agile Project Management, and worked in 5S environments. 
            Experience both leading projects and adding expertise as a resource.
    			</li>
    			<li>
            BAsc in Engineering Physics, Mechanical Option from UBC (2013).
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
