<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am an Engineer with experience in Data Science and Machine Learning and a background in text-to-speech (TTS) / voice cloning tools. I have experience in deep learning and am currently developing a tool to synthesize audiobooks from ebooks with voice cloning. I have interests in audio, robotics, and engineering applications.
        </p>
        <p>
          My background is in Engineering Physics, with stops in robotics, electronics, and aerospace manufacturing.
        </p>
        <p>
          I am interested in Machine Learning, Data Science, and Software Engineering roles - I'm looking forward to leveraging my unique skill set in a highly technical environment.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Proficient in Python, MySQL
    			</li>
          <li>
            Frameworks: Pandas, Numpy, Scikit-learn, Pytorch, Tensorboard, Altair, Matplotlib, Tableau, Github Actions, Tensorflow/Keras
    			</li>
          <li>
            ML Techniques: Deep Learning, Text-to-speech , Voice cloning, Transfer learning, Dashboards, APIs
    			</li>
          <li>
            Software Engineering: Version control, Continuous integration, Scrum, Agile
    			</li>
          <li>
            Comfortable in CLI, Linux user, Docker
    			</li>
          <li>
            Past experience with C++, Java, R, LabView, ROS
    			</li>
    			<li>
            Bilingual: English / French
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
