<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            This page is under construction.
        </p>
        <p>
           <b>Seriously.</b>.
           You will learn a lot about me on this page.
        </p>
        <p>
           Very soon.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            This will be highlight # 1 about me.
    			</li>
                        <li>
            Another will follow.
    			</li>          
                        <li>
            Probably another too.
    			</li>
    			<li>
            Lots of highlights to come!
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
