<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Making things</b>. A broad statement: I am often designing and putting together new ideas - 3D printing, waterjetting, hand tool woodworking, etc. 
                                 I was able to attend the <a href="https://isam2019.hemi-makers.org/">International Symposium on Academic Makerspaces @ Yale in 2019</a>.
			  </li>
			  <li>
				  <b>Amateur radio</b>. I've been interested in electronics and communication since I was young - but only as an adult am I diving into the word of 
                                  amateur radio communication. I am studying for my advanced license, in order to begin designing and building my own equipment.
			  <li>
				  <b>Hiking</b>. As a lifeline hiker, living in the Lower Mainland has provided many opportunities to get out into the wilderness. I enjoy taking my 
                                  family to explore what nature has hidden away in the area.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          <b>Custom VHF/UHF receiver</b>. I'm designing, building and testing a VHF/UHF receiver to expand my skills in RF design (using Altium) and assembly (printing PCB via Voltera 
          printer). This will be one building block a larger <a href="http://www.aprs.org/">APRS</a>-equipped transceiver project.
    		</li>
  			<li>
          <b>Pikler triangle</b>. Hand built a folding, pine-and-maple Pikler triangle for my children to enjoy inside during the wet, grey months of Vancouver-area winter.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           <b>Volunteering to support local families</b>. Deputy Grand Knight of local <a href="https://www.kofc.org/en/todays-knights/what-we-do.html">Knights of Columbus Council</a>
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
