<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <h3 style="margin-top:0">Personal Interests</h3>
			<ul>
			  <li>
        <b>Interest 1</b>. Coming soon.
			  </li>
			  <li>
	<b>Interest 2</b>. Definitely.
			  <li>
	<b>Interest 3</b>. Feel free to reach out in the meantime!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
        <b>Audiobook Generator</b>. Project as SharpestMinds mentee; check out m GitHub for details.
             		</li>
  			<li>

        <b>WebRT Queue Sorter</b>. Project to create automatic ticket sorting algorithm for RT by Best Practical.
    		</li>
  			<li>
        <b>RT to Super Productivity and Back!</b>. Tool to automatically create tasks in Super Productivity from RT query.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
        <b>There will be another thing here.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
