<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <h3 style="margin-top:0">Education</h3>
			<ul>
				<li>
					<i class="fa-li fas fa-graduation-cap"></i>
					<div class="description">
					  <p class="course">Bachelor's of Applied Science in Engineering Physics, 2013</p>
					  <p class="institution">University of British Columbia, Vancouver</p>
					</div>
				</li>
				  
				<li>
					<i class="fa-li fas fa-graduation-cap"></i>
					<div class="description">
					  <p class="course">Certificate in Data Science, 2022</p>
					  <p class="institution">University of British Columbia, Vancouver</p>
					</div>
				</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Project: Audiobook Generator</h3>
		  <ul>
  			<li>
        <b>Python / Streamlit web app:</b> generates custom-voiced audiobooks from ebooks.
             		</li>
  			<li>

        <b>Pytorch / TTS:</b> user provides ebook - or other document - and selects audio sample of desired narrator. The tool synthesizes audio (text-to-speech), then applies voice cloning techniques.
    		</li>
  			<li>
        <b>Development in progress:</b> repo can be found on github, here: https://github.com/mkutarna/audiobook_gen
  			</li>
  		    </ul>
      </div>
	  <div class="col-sm-6">
		<h3 style="margin-top:0">Project: Automatic Ticket Routing</h3>
			<ul>
				<li>
		  <b>WebRT / Best Practical:</b> developing a tool which sorts 100+ incoming tickets per day, saving hours of additional guess work by staff.
					   </li>
				<li>
  
		  <b>ML-based sorting:</b> applies NLP and custom trained model to classify tickets into appropriate destination queues.
			  </li>
				<li>
		  <b>Data scraping:</b> pulled data from ~500,000 tickets via the WebRT REST API for training and testing.
				</li>
				</ul>
		</div>
    </div>
  </div>
</section>
